.productsNavbar {
	.row {
		border-top: 1px solid rgba(255, 255, 255, 0.24);
		.icon {
			font-weight: lighter;
		}

		.categories {
			opacity: 0.8;
			transition: 0.2s;
		
			&:hover {
				scale: 1.15;
			}
		}
		.active {
			opacity: 1;
			scale: 1.15;
		}
	}
}

@media only screen and (max-width: 768px) {
	.hidden {
		display: none;
	}
}


.productName {
	font-size: 0.8em;
	margin-bottom: 0;
	padding: 0;
}