/* The following block can be included in a custom.scss */

/* make the customizations */

$navbar-dark-color: white;
$primary: #c00a27;
$secondary: #8ca93e;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

/* import bootstrap to set changes */
@import "../../../node_modules/bootstrap/scss/bootstrap";
