// @import "./_reset";
// @import "./mixins";
@import "./customBootstrap";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// @import "./udemyProjectStyles";

* {
	font-family: "Poppins", sans-serif;
}

button {
	word-wrap: break-word;
}

.object-fit {
	object-fit: cover;
}

.card {
	img {
		transition: 0.3s;
	}
	&:hover {
		img {
			scale: 1.1;
			z-index: 3;
		}
	}
}

.navbar-brand {
	.icon {
		transition: 0.5s;
	}
	&:hover {
		.icon {
			scale: 1.4;
			padding-right: 20px;
			padding-left: 10px;
		}
	}
}

figure {
	height: 300px;
}

// a.active {
// 	color: #ff731d !important;
// 	border: 1px solid #ff731d;
// 	border-radius: 20px;
// }

.react-confirm-alert-button-group {
	button:nth-of-type(1) {
		background-color: #da0037 !important;
	}
	button:nth-of-type(2) {
		background-color: #1e5128 !important;
	}
}

td {
	img {
		width: 150px;
	}
}

button {
	word-break: break-all;
}
// .card {
// 	width: 300px;
// }
