// @import "./_reset";
// @import "./mixins";
@import "./customBootstrap";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// @import "./udemyProjectStyles";

* {
	font-family: "Poppins", sans-serif;
}

button {
	word-wrap: break-word;
}

.object-fit {
	object-fit: cover;
}

.card {
	img {
		transition: 0.3s;
	}
	&:hover {
		img {
			scale: 1.1;
			z-index: 3;
		}
	}
}

.navbar-brand {
	.icon {
		transition: 0.5s;
	}
	&:hover {
		.icon {
			scale: 1.4;
			padding-right: 20px;
			padding-left: 10px;
		}
	}
}

figure {
	height: 300px;
}

// a.active {
// 	color: #ff731d !important;
// 	border: 1px solid #ff731d;
// 	border-radius: 20px;
// }

.react-confirm-alert-button-group {
	button:nth-of-type(1) {
		background-color: #da0037 !important;
	}
	button:nth-of-type(2) {
		background-color: #1e5128 !important;
	}
}

td {
	img {
		width: 150px;
	}
}

button {
	word-break: break-word;
	white-space: nowrap;
}
// .card {
// 	width: 300px;
// }

.spinnerBootstrapContainer {
	width: 100%;
	padding-top: 100%;
	background-color: rgba(0, 13, 3, 0.327);
}

.spinnerBootstrapDiv {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 576px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (max-width: 769px) {
	table {
		font-size: 10px !important;

		border-spacing: 0px !important;

		th,
		td {
			padding: 0.5em !important;
		}
		button {
			font-size: 10px !important;
			// padding: 0px !important;
			svg {
				height: 0.5em !important;
				width: 0.5em !important;
			}
		}
		img {
			width: 50px !important;
			height: 50px !important;
		}

		h5 {
			font-size: 12px !important;
		}
	}
}

/* Large devices (laptops/desktops, 992px and up) -- This would display the text at 10.0rem on laptops and larger screens */
